<div class="settings-card">
    <div class="row">
        <span class="label-desc">Chargement Auto au démarrage</span>
        <label class="switch">
            <input id="auto-toggle" type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="row">
        <span class="label-desc">Autoriser les Autocars <span class="icon-placeholder" data-icon="bus"
                data-size="18"></span></span>
        <label class="switch">
            <input id="autocar-toggle" type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div class="row">
        <span class="label-desc">Correspondances autorisées</span>
        <label class="switch">
            <input id="indirect-toggle" type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
</div>